<!DOCTYPE html>

<html>
<title>Jamb</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta name="viewport" content="height=device-height, initial-scale=1, minimum-scale=1" />

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

</head>

<body>
    <div class="center">
        <div class="dice-rack">
            <button class="dice image-container" style="background-image: url(../static/images/dice/1.png);"></button>
            <button class="dice image-container" style="background-image: url(../static/images/dice/2.png);"></button>
            <button class="dice image-container" style="background-image: url(../static/images/dice/3.png);"></button>
            <button class="dice image-container" style="background-image: url(../static/images/dice/5.png);"></button>
            <button class="dice image-container" style="background-image: url(../static/images/dice/6.png);"></button>
        </div>
        <div class="form">
            <button class="button-form button-info image-container bg-lightpink" style="background-image: url(../static/images/misc/info.png);"></button>
            <button class="button-form image-container" style="background-image: url(../static/images/column/DOWNWARDS.png);"></button>
            <button class="button-form image-container" style="background-image: url(../static/images/column/UPWARDS.png);"></button>
            <button class="button-form image-container" style="background-image: url(../static/images/column/ANY_DIRECTION.png);"></button>
            <button class="button-form image-container" style="background-image: url(../static/images/column/ANNOUNCEMENT.png);"></button>
            <button class="button-form button-roll-dice image-container bg-lightpink" style="background-image: url(../static/images/misc/roll_0.png);"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/1.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/2.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/3.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/4.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/5.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form image-container bg-skyblue" style="background-image: url(../static/images/dice/6.png);"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">(1-6)</button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue">MAX</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form button-restart image-container bg-lightpink" style="background-image: url(../static/images/misc/restart.png);"></button>
            <button class="button-form bg-skyblue">MIN</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">∆ x 1's</button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue"></button>
            <button class="button-form bg-skyblue">TRIS</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form button-scoreboard bg-lightpink"></button>
            <button class="button-form bg-skyblue">SKALA</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">FULL</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">POKER</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">JAMB</button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form box"></button>
            <button class="button-form bg-skyblue">(tris - jamb)</button>
            <div class="button-form bg-skyblue"></div>
            <div class="button-form bg-skyblue"></div>
            <div class="button-form bg-skyblue"></div>
            <div class="button-form bg-skyblue"></div>
            <div class="button-form bg-skyblue"></div>
            <button class="button-form button-menu image-container bg-lightpink" style="background-image: url(../static/images/misc/cog.png);"></button></button>
            <button class="button-form button-profile">UKUPNO:</button>
            <div class="button-form score-final bg-skyblue"></div>
        </div>
    </div>
</body>

</html>